@media screen and (max-width: 1370px){

	.get_started_section {
		width: 100%;
		margin: 100px auto;
	}

	.get_started_right_side {
		width: 45%;
	}

	.get_started_right_img {
		width: 100%;
		height: auto;
	}

	.get_started_left_side {
		width: 50%;
	}

	.get_started_left_side h1 {
		font-size: 30px;
		line-height: 40px;
	}

	.get_started_left_side span {
		font-size: 32px;

	}

	.get_started_button {
		width: auto;
		padding: 10px 30px;
	}

    .plan_block_item {
        padding-left: 20px;
        padding-right: 20px;
    }

    .plan_block_item:not(:last-child) {
        margin-right: 20px;
    }

    .plan_versions_block {
        justify-content: center;
    }

    .footer_right_side_rows:not(:last-child) {
        margin-right: 20px;
    }

}

@media screen and (max-width: 1100px){
	.menu_outer .menu .menu_item:not(:last-child){
		margin-right: 24px;
	}

	.sign_in, .sign_up, .plan_select_button{
		padding: 10px 32px;
	}


}

@media screen and (max-width: 1000px){
    .burger {
        display: block;
        background: none;
        border: 0;
    }

	.menu_outer {
		display: none
	}

	.button_container {
		margin-right: 54px;
	}

	.menu_open .burger .line_2{
		display: none;
	}

	.menu_open .burger .line_1{
		transform: rotate(45deg);
        top: 6px;

	}

	.menu_open .burger .line_3{
		transform: rotate(-45deg);
		top: 6px;
	}

	.menu_open .menu_outer {
		padding-top: 20px;
	    display: block;
	    background-color: #ffffff;
	    position: fixed;
	    left: 0;
	    right: 0;
	    top: 62px;
	    bottom: 0;
	}

	.menu_outer .menu .menu_item {
		display: block;
	}

	.menu_outer .menu .menu_item:not(:last-child) {
		margin-right: 0;
		margin-bottom: 32px;
	}

	.menu_open {
		overflow: hidden;
	}

	.menu_outer .menu_link {
		padding: 0 20px;
	}

    .features_section,
    .statistics_section,
    .get_started_section {
        margin-bottom: 40px;
    }

    .plan_section {
        padding-top: 32px;
        padding-bottom: 60px;
    }

    .plan_intro {
        margin-bottom: 32px;
    }

    .footer_box {
        flex-wrap: wrap;
    }

    .left_side_copyright {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .footer_left_side {
        width: 250px;
        flex: 0 0 250px;
    }

}


@media screen and (max-width: 767px){

    .get_started_section {
        flex-direction: column-reverse;
    }

    .get_started_right_side,
    .get_started_left_side {
        width: 100%;
    }

    .get_started_right_img {
        max-width: 400px;
        margin: 0 auto 20px;
        display: block;
    }

    .get_started_left_side p {
        margin-bottom: 20px;
    }

    .get_started_button {
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
        display: block;
    }

	.statistics_block {
		display: block;
	}

	.statistics_section {
		margin-bottom: 60px;
	}

	.statistics_items {
		margin: 0 auto;
		border: none;
        justify-content: flex-start;
	}

	.statistics_items:not(:last-child){
		border-bottom: 2px solid #EEEFF2;
		border-right: none;
		}

	.statistics_items span {
		font-size: 16px;
	}

	.statistics_items h2 {
		font-size: 20px;
	}

	.features_section {
		display: block;
		margin-bottom: 60px;
		text-align: center;
	}

	.features_head {
		font-size: 25px;
	}

	.features_img {
		width: 45%;
		margin-bottom: 20px;
	}

	.features_right_side {
		margin: 0 auto;
	}

	.plan_section_head {
		font-size: 25px;
	}

	.plan_section {
		padding-top: 40px;
	}

	.plan_intro {
		padding-bottom: 40px;
	}

	.plan_item_box {
        max-width: 300px;
		margin: 0 auto 32px;
	}

	.plan_versions_block {
		display: block;
	}

	.plan_cost h2 {
		font-size: 100%;
	}

	.plan_select_button {
		margin: 0 auto;
		padding: 10px 20px;
        min-width: 150px;
        display: inline-block;
	}

	.plan_block_item {
		padding-bottom: 32px;
		padding-top: 32px;
	}

    .plan_block_item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
    }

	.plan_icon {
		width: 20%
	}

	.footer_box {
		display: block;
		text-align: center;
	}

	.footer_left_side {
		margin: 0 auto;
	}

	.left_side_socials_box {
		justify-content: space-evenly;
	}

	.footer_right_side {
		display: block;
	}

	.footer_right_side_rows {
		margin-right: 0;
		margin-bottom: 30px;
	}

	.footer_right_side_rows {
		width: 100%;
	}

    .footer_menu_item:not(:last-child) {
        margin-bottom: 6px;
    }

    .footer_menu_title {
        margin-bottom: 12px;
    }

}

@media screen and (max-width: 550px){

    .button_container {
        display: none;
    }

    .menu_open .menu_outer {
        padding-top: 100px;
    }

    .menu_open .button_container {
        display: block;
        left: 0;
        margin-right: 0;
        position: fixed;
        top: 100px;
    }

    .sign_in {
        margin-right: 20px;
    }

}


